.login-heading{font-size:2.2rem;font-weight:500;text-align:center}.login-form{max-width:500px;width:100%;margin:auto}.login-form-inner{background-color:#fafafa;border-radius:6px;padding:2rem 1rem 1rem 1rem;border:1px solid rgba(0,0,0,.1)}